.wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
}

.leftTextContainer {
  position: absolute;
  bottom: 20px;
  padding: 0 25px 25px 25px;

  :nth-child(1) {
    width: 275px;
    line-height: 25px;
    color: rgb(37, 29, 32);
  }

  .copyright {
    display: block;
    margin: 3px 0 20px 0;
    a {
      color: rgb(37, 29, 32);
    }
  }

  .copyright,
  .copyright a {
    font-size: 12px;
    font-weight: 400;
  }

  :nth-child(1),
  :nth-child(3) {
    font-size: 18px;
    font-weight: bold;
  }

  .copyright a,
  :nth-child(3) {
    text-decoration: underline;
  }

  :nth-child(3) {
  }
}
